<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center mb-5">商品新規登録</h2>
      <%= form_with model:@item, url: admin_items_path do |f| %>
        <table class="table mb-4">
          <tr>
            <td><%= f.label :image, "商品画像" %></td>
            <td><%= f.file_field :image, accept: "image/*" %></td>
          </tr>
          <tr>
            <td><%= f.label :name, "商品名" %></td>
            <td><%= f.text_field :name, placeholder: "商品名" %></td>
          </tr>
          <tr>
            <td><%= f.label :introduction, "商品説明" %></td>
            <td><%= f.text_area :introduction, placeholder: "ここに説明文を記述します"  %></td>
          </tr>
          <tr>
            <td><%= f.label :genre_id, "ジャンル" %></td>
            <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %></td>
          </tr>
          <tr>
            <td><%= f.label :price, "税抜価格" %></td>
            <td><%= f.text_field :price, placeholder: "1000" %>円</td>
          </tr>
          <tr>
            <td><%= f.label :is_active, "販売ステータス" %></td>
            <td>
              <%= f.radio_button :is_active, "true" %>
              <%= f.label :is_active, "販売中"%>
              <%= f.radio_button :is_active, "false" %>
              <%= f.label :is_active, "販売停止中"%>
            </td>
          </tr>
        </table>
        <div class="text-center mb-5">
          <%= f.submit "新規登録", class:"btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>