<div class="row mt-5">
  <div class="col-12 col-md-10 offset-md-1 py-3 mb-3">
    <div class="col-10 offset-md-1">

        <!--タイトル・検索結果の件数-->
        <h2 class="text-center">キーワード検索結果</h2>
        <h5 class="text-center">検索結果は<%= @items_search.count %>件です。</h5>

        <!--検索結果-->
        <div class="text-right">
          <table class="table table-hover">
            <thead class="table-secondary">
              <tr>
                <th>商品ID</th>
                <th>商品名</th>
                <th>税抜価格</th>
                <th>ジャンル</th>
                <th>ステータス</th>
              </tr>
            </thead>
            <tbody>
              <% @items_search.each do |item|%>
                <tr>
                  <!--商品ID-->
                  <td><%= item.id %></td>
                  <!--商品名-->
                  <td><%= link_to item.name, admin_item_path(item), class:"text-primary" %></td>
                  <!--税抜価格-->
                  <td><%= item.price.to_s(:delimited) %></td>
                  <!--ジャンル-->
                  <td><%= link_to item.genre.name, genre_search_admin_items_path(genre_id: item.genre.id), class:"text-primary" %></td>
                  <!--ステータス-->
                  <td>
                    <% if item.is_active == true %>
                      <span class="font-weight-bold text-success">販売中</span>
                    <% else %>
                      <span class="font-weight-bold text-muted">販売停止中</span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <!--ページネーション-->
          <div class="mt-4 mb-4 justify-content-center d-flex">
            <%= paginate @items_search %>
          </div>
        </div>
    </div>
  </div>
</div>
