<div class="container">
  <div class="row">
    <div>
      <h2><%= @customer.last_name %>  <%= @customer.first_name %>さんの会員詳細</h2>
    </div>
  </div>
 <%= form_with model: @customer, url: admin_customer_path, local: true do |f| %>
    <div class="row">
      <div class="col-xs-6 mx-auto">
        <table class="table table-bordered">
          <tr>
            <th>会員ID</th>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <th>氏名</th>
            <td><%= f.text_field :last_name %>　<%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <th>フリガナ</th>
            <td><%= f.text_field :last_name_kana %>　<%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td><%= f.text_field :post_code %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= f.text_field :address, size:50 %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= f.text_field :phone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= f.text_field :email %></td>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <td>
            <%= f.radio_button :is_deleted, "true" %> 退会
            <%= f.radio_button :is_deleted, "false" %> 有効
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 mx-auto mb-3">
        <%=link_to "会員詳細画面に戻る", admin_customer_path(@customer),class:"btn btn-secondary" %>

        <%= f.submit "変更を保存", class:"btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>