<div class="container mt-4">

  <h2 class="text-center">会員一覧</h1>

  <table class="table table-hover mt-4 col-8 offset-2">
    <thead class="table-secondary">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">氏名</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <th scope="row"><%= customer.id %></th>
        <td>
          <%= link_to admin_customer_path(customer) do %>
            <span class="text-primary"><%= customer.last_name + customer.first_name %></span>
          <% end %>
        </td>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_deleted %>
            <span style="color:gray;">退会</span>
          <% else %>
            <span style="color:green;">有効</span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="mt-4 mb-4 justify-content-center d-flex">
    <%= paginate @customers %>
  </div>
</div>