<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center mb-5">注文履歴詳細</h2>
    </div>
    <table class="col-6 table table-borderless">
      <tr>
        <th>購入者</th>
        <td><%= link_to @order.customer.last_name + @order.customer.first_name, admin_customer_path(@order.customer.id) %></td>
      </tr>
       <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>
          <%= "〒" + @order.post_code + " " + @order.address %> <br>
          <%= @order.name %>
        </td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <td>
          <%= form_with model:@order, url: admin_order_path(@order), method: :patch do |f| %>
            <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
            <%= f.submit "更新", class:"btn btn-success ml-5"%>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="row">
     <table class="col-8 table mr-5">
      <thead class="table-secondary">
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= (order_detail.price*1.1).floor.to_s(:delimited) %></td>
            <td><%= order_detail.count %></td>
            <td><%= ((order_detail.price*1.1).floor*order_detail.count).to_s(:delimited) %></td>
            <td>
              <%= form_with model:@orderdetail, url: admin_order_detail_path(order_detail), method: :patch do |f| %>
                <%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.orderdetail.making_status.#{k}"), k]} %>
                <%= f.submit "更新", class:"btn btn-success ml-5"%>
              <% end %>
            </td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="col-3">
      <%= render "public/orders/total_payment_table", order: @order %>
    </div>
  </div>
</div>
