<div class="container">

  <% if @cart_items.present? %>
    <div class="row">
      <div class="col-md-8">
        <!--タイトル-->
        <h3 class="col-12 offset-md-1 py-4">
          カート商品
        </h3>
        <!--ALL削除ボタン-->
        <div class="col-12 offset-md-1 text-right">
          <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete,
              data: {confirm: "カートを空にしてもよろしいですか？"},
              class: "btn btn-outline-danger rounded-pill" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-7 col-md-8">
        <% @cart_items.each do |cart_item| %>
          <div class="col-12 offset-md-1 py-3 mb-1">

            <div class="cart_box rounded">
              <table class="table table-borderless">
                <tr class="item_table">
                  <!--画像-->
                  <td class="item_table">
                    <%= image_tag cart_item.item.get_image(150,150) %>
                  </td>
                  <!--商品名・単価(税込)-->
                  <td class="item_table">
                    <%= cart_item.item.name %><br>
                    ¥<%= cart_item.item.tax_price.to_s(:delimited) %> (税込)
                  </td>
                  <!--数量・変更-->
                  <td class="item_table">
                    <div class="spinner_area">
                      <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch do |f| %>
                        数量:
                        <%= f.number_field :count, step: "1", min: 1 %>
                        <%= f.submit "変更", class: "btn btn-outline-success btn-sm rounded-pill" %>
                      <% end %>
                    </div>
                  </td>
                  <!--小計-->
                  <td class="item_table">
                    ¥<%= cart_item.subtotal.to_s(:delimited) %>
                  </td>
                  <!--削除-->
                  <td class="item_table">
                    <%= link_to cart_item_path(cart_item), method: :delete,
                        data: {confirm: "#{cart_item.item.name}を削除してもよろしいですか？"} do %>
                      <i class="fas fa-trash-alt fa-2x" style="color:gray"></i>
                    <% end %>
                  </td>
                </tr>
              </table>
            </div>

          </div>
        <% end %>

        <!--買い物を続ける-->
        <div class="col-12 offset-md-1 py-3 mb-1">
          <%= link_to "買い物を続ける", root_path,
              class: "btn btn-outline-primary rounded-pill" %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-12 offset-md-1 py-3 mb-1">
          <div class="price_box rounded">
            <!--合計金額-->
            <p class="font-weight-hold">合計金額</p>
            <h3>¥<%= @total.round.to_s(:delimited) %></h3>
            <!--レジへ-->
            <div class="text-center">
              <%= link_to "ご購入手続きへ", new_order_path, class: "btn btn-warning btn-lg rounded-pill mt-5" %>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% else %>
    <!--カートに商品がない場合-->
    <div class="row">
      <div class="col-12 offset-md-1 py-4">
        <p>カートに商品がありません。</p>
        <p><%= link_to "商品一覧", items_path %>からお探しください。</p>
      </div>
    </div>
  <% end %>

</div>
