<div class="row">
  <div class="col-12 col-md-10 offset-md-1 py-4 mb-3">
    <h2>新規会員登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="field">
        <label>名前</label>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>

        <%= f.label :first_name %>
        <%= f.text_field :first_name, autocomplete: "first_name" %>
      </div>

      <div class="field">
        <label>フリガナ</label>
        <%= f.label :last_name_kana %>
        <%= f.text_field :last_name_kana, autocomplete: "last_name_kananame" %>

        <%= f.label :first_name_kana %>
        <%= f.text_field :first_name_kana, autocomplete: "first_name_kananame" %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :post_code %>
        <%= f.text_field :post_code, autocomplete: "post_code" %>
      </div>

      <div class="field">
        <%= f.label :address %>
        <%= f.text_field :address, autocomplete: "address" %>
      </div>

      <div class="field">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, autocomplete: "phone_number" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>

  <div class="col-12 col-md-10 offset-md-1 py-4 mb-3">
    <h2>既にログイン済みの方</h2>
    <p><%= render "public/shared/links" %>からログインしてください。</p>
  </div>
</div>

