<div class="container mt-4">
  <div class="row">
    <div class="col-2">
      <%= render "genre", genres: @genres%>
    </div>
    <div class="col-10">
      <h2 class="text-center">ジャンル検索結果 "<%= @genre_name %>"</h2>
      <h5 class=" text-center mb-5">検索結果は<%= @items.count %>件です。</h5>
      <%= render "public/items/card", items: @items %>
      <div class="mt-4 mb-4 justify-content-center d-flex">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>