<h3>商品一覧(全<%= @items.count %>件)</h3>
<div class="d-flex flex-wrap">
  <% @items.each do |item| %>
    <div class="w-25">
      <%= link_to item_path(item) do %>
        <%= image_tag item.get_image(100,100) %> <br>
        <%= item.name %> <br>
      <% end %>
      ¥<%= item.price.to_s(:delimited) %>
    </div>
  <% end %>
</div>
<%= paginate @items %>