<div class="container mt-5">
  <div class="row mb-5">
    <div class="col-2">
      <%= render "public/items/genre", genres: @genres%>
    </div>
    <div class="col-5 text-center">
      <%= image_tag @item.get_image(400,400),style:"height:auto; width:400px; object-fit: cover" %>
    </div>
    <div class="col-3">
      <h3 class="font-weight-bold mb-3"><%= @item.name %></h3>
      <div class="mb-3"><%= @item.introduction %></div>
      <div class="mb-3">ジャンル：<%= link_to @item.genre.name, genre_search_items_path(genre_id: @item.genre.id), style:"color:blue"%></div>
      <!--文字数が長いときの検証が必要-->
    </div>
    <div class="col-2", style="border:solid; border-radius:5%; height:200px ">
      <div class="mt-3 mb-3">
        <span class="h4">¥ <%= @item.tax_price.to_s(:delimited) %></span> (税込)
      </div>
      <div class="mb-3">
        <% if @item.is_active == true %>
          <div class="font-weight-bold text-success mb-3">販売中</div>
          <%= form_with model: @cart_item, url: cart_items_path do |f| %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <div class="mb-3">
              <%= f.number_field :count, step: "1", placeholder: "個数入力", min: 1, style:"width:100px"  %>
            </div>
            <div class="d-flex justify-content-center">
              <%= f.submit "カートに入れる", class: "btn btn-warning rounded-pill" %>
            </div>
          <% end %>
        <% else %>
          <div class="font-weight-bold text-danger d-flex align-items-center align-middle", style="height:100px">
            <h2 class="font-weight-bold">売り切れ</h2>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
