<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <%= link_to "NaganoCAKE", root_path, class: "store-name" %><br>
      </div>
      <div class="col-xs-9">
        <% if customer_signed_in? %>
          <div class="col-xs-6">
            <div class="welcome-customer">
              <%= "ようこそ、" + current_customer.last_name + current_customer.first_name + "さん！" %><br>
            </div>
          </div>
          <div class="col-xe-6">
            <div class="header-link">
              <%= link_to "マイページ",customers_path,class:"btn btn-light" %>
              <%= link_to "商品一覧", items_path, class:"btn btn-light" %>
              <%= link_to "カート",cart_items_path, class:"btn btn-light" %>
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"btn btn-light" %>
            </div>
          </div>
        <% else %>
          <div class="header-link">
            <%= link_to "About",about_path, class:"btn btn-light" %>
            <%= link_to "商品一覧",items_path, class:"btn btn-light" %>
            <%= link_to "新規登録", new_customer_registration_path, class:"btn btn-light" %>
            <%= link_to "ログイン", new_customer_session_path, class:"btn btn-light" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>

